---
title: CG API Reference

language_tabs:
  - shell

toc_footers:
  - <a href='#'>More info</a>
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the CG API Documentation! You can use our API to access CG API endpoints.
Every endpoint will use CRUD based on API RestFul implementation.
You need to change {base_url} for base url our site that is `https://www.cgblockchain.com/` and then use endpoint url that every endpoint has, i.e `New Order ENDPOINT "url" : "api/v1/neworder"` The url result was be : `https://www.cgblockchain.com/api/v1/neworder`


# Order

<%= partial "partials/order_security_sender_description.html" %>

## New order

`POST api/v1/order/`

The `'ORDER_STATUS'` data subject provides the state of the order within the lifecycle; both current and previous.

> To create new Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/order_status.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


<aside class="notice">
Just sure to have the correct credentials every endpoint
</aside>

## Order Ammend
`PUT api/v1/order/{order_id}/ammend`

`Scope` A block will be included for both CURRENT & PREVIOUS state.

> To create Ammend Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/order_status.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Order Cancel/Complete
`PUT api/v1/order/{order_id}/cancel`
`PUT api/v1/order/{order_id}/complete`

`Scope` A block will be included for both CURRENT & PREVIOUS state.

> To create Cancel/Complete Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/order_status.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Run compliance
`POST api/v1/compliance/`

The `'COMPLIANCE'` data subject provides a repeating status of compliance checks performed during the order lifecycle.
For every rule applied, a type; rule description; status; and plain English result text will be provided.

`Scope` Repeats per compliance rule applied to an order, and provides the result.

> To create compliance, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/compliance.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Sent to trade
`POST api/v1/order/{order_id}/sent_to_trade`

`Scope` A block will be included for both CURRENT & PREVIOUS state.

> To create sent to trade Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/order_status.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Parent Order Creation
`POST api/v1/order/{order_id}/parent_creation`

`Scope` A block will be included for both CURRENT & PREVIOUS state.

> To create Parent creation Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/order_status.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .

# Assign / adquire

`POST api/v1/order/{order_id}/assign`

<%= partial "partials/order_security_sender_description.html" %>

> To create Assign/adquire Order, use this code:

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/no_object.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


# Merge / split
## Merge

`POST api/v1/merge/{order_id}`

The `'MERGE'` data subject is generated when two orders are joined in Portware. When this happens, the order details of
the merged order will be included within this block. It will repeat every merge that takes place in Portware.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/merge.html" %>

## Split
`POST api/v1/split/{order_id}`

The `'SPLIT'` data subject will detail quantity that is split off from the order. It will repeat for each split executed against the
order during the lifecycle.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/split.html" %>

# Sweep
`POST api/v1/sweep/{order_id}`

The `'SWEEP'` data subject details advertisements sent to dark pools associated with the order. This will repeat for each
sweep performed on an order.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/sweep.html" %>

# Placements

The ‘PLACEMENT’ data subject provides data associated with child orders sent to market to trade. It will detail the
quantity, destination, and other attributes of the placement. It will be repeated to include all associated placements, as
well as the current and previous states.

## New Placement
`POST api/v1/placements/`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each placement.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/placement.html" %>

## Placement Amend
`POST api/v1/placements/{placement_id}/ammend`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each placement.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/placement.html" %>

## Placement Cancel
`POST api/v1/placements/{placement_id}/cancel`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each placement.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/placement.html" %>

# Executions

The ‘EXECUTION’ data subject provides fill level details for any placement sent to market. It will repeat for each
execution provided to a placement (which will also accompany the data subject). Both the current and previous state will
be provided.

## Execution
`POST api/v1/executions/`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each execution.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/execution.html" %>
<%= partial "partials/placement.html" %>

## Execution ammend
`POST api/v1/executions/ammend`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each execution.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/execution.html" %>
<%= partial "partials/placement.html" %>

## Execution cancel
`POST api/v1/executions/cancel`

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will
repeat for each execution.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/execution.html" %>
<%= partial "partials/placement.html" %>


# Post Trade Allocation
`POST api/v1/post_trade_allocation`

The `'PT_ALLOCATION'` data subject provides detail for any post-trade allocation performed on an order. It will detail the
account, quantity, price, and associated fees. This will repeat for each allocation (totaling up to the quantity of an order).
Both the current and previous state will be provided.

'Scope' A block will be included for both CURRENT & PREVIOUS state, and it will repeat for each allocation.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/post_trade.html" %>

# Exception
`POST api/v1/exceptions`

The `'ALERT'` data subject will be generated whenever an exception is raised in association with the order. The subject
will be repeated for each exception raised during the order lifecycle.

`Scope` A block will be included for both CURRENT & PREVIOUS state, and it will repeat for each alert.

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/alert.html" %>


# archive
`POST api/v1/executions/archive`

<%= partial "partials/order_security_sender_description.html" %>

<%= partial "partials/order_security_sender.html" %>
<%= partial "partials/no_object.html" %>


