---
title: CG API Reference

language_tabs:
  - shell

toc_footers:
  - <a href='#'>More info</a>
  - <a href='https://github.com/tripit/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the CG API Documentation! You can use our API to access CG API endpoints.
Every endpoint will use CRUD based on API RestFul implementation.
You need to change {base_url} for base url our site that is `https://www.cgblockchain.com/` and then use endpoint url that every endpoint has, i.e `New Order ENDPOINT "url" : "api/v1/neworder"` The url result was be : `https://www.cgblockchain.com/api/v1/neworder`


# Order

## New order

URL `POST api/v1/neworder/`

> To create new Order, use this code:

<%= partial "partials/order_security_sender.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


<aside class="notice">
Just sure to have the correct credentials every endpoint
</aside>

## Order Ammend
URL `PUT api/v1/order/{order_id}/ammend`

> To create Ammend Order, use this code:

<%= partial "partials/order_security_sender.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Order Cancel/Complete
URL `PUT api/v1/order/{order_id}/cancel`
URL `PUT api/v1/order/{order_id}/complete`

> To create Cancel/Complete Order, use this code:

<%= partial "partials/order_security_sender.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Run compliance
URL `POST api/v1/compliance/`

> To create compliance, use this code:

<%= partial "partials/order_security_sender.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Sent to trade
URL `POST api/v1/order/{order_id}/sent_to_trade`

> To create sent to trade Order, use this code:

<%= partial "partials/order_security_sender.html" %>

> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


## Parent Order Creation
URL `POST api/v1/order/{order_id}/parent_creation`

> To create Parent creation Order, use this code:



> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .

# Assign / adquire

URL `POST api/v1/order/{order_id}/assign`

> To create Assign/adquire Order, use this code:


> Base URL is the follow for all the endpoints `https://www.cgblockchain.com/` and url for this endpoint is `api/v1/order` .


# Merge / split
## Merge
URL `POST api/v1/merge/{order_id}`

<%= partial "partials/order_security_sender.html" %>

## Split
URL `POST api/v1/split/{order_id}`

<%= partial "partials/order_security_sender.html" %>

# Sweep
URL `POST api/v1/sweep/{order_id}`

<%= partial "partials/order_security_sender.html" %>

# Placements
## New Placement
URL `POST api/v1/placements/`

<%= partial "partials/order_security_sender.html" %>

## Placement Amend
URL `POST api/v1/placements/{placement_id}/ammend`

<%= partial "partials/order_security_sender.html" %>

## Placement Cancel
URL `POST api/v1/placements/{placement_id}/cancel`

<%= partial "partials/order_security_sender.html" %>

# Executions
## Execution
URL `POST api/v1/executions/`

<%= partial "partials/order_security_sender.html" %>

## Execution ammend
URL `POST api/v1/executions/ammend`

<%= partial "partials/order_security_sender.html" %>

## Execution cancel
URL `POST api/v1/executions/cancel`

<%= partial "partials/order_security_sender.html" %>


# Post Trade Allocation
URL `POST api/v1/post_trade_allocation`

<%= partial "partials/order_security_sender.html" %>

# Exception
URL `POST api/v1/exceptions`

<%= partial "partials/order_security_sender.html" %>


# archive
URL `POST api/v1/executions/archive`

<%= partial "partials/order_security_sender.html" %>


